<div class="uk-container">
  <div class="uk-card uk-card-default uk-card-body uk-margin-top">
    <form (ngSubmit)="onSubmit()" [formGroup]="addUniteForm" novalidate>
     <div class="uk-flex">
       <div class="uk-margin uk">
         <label class="uk-form-label" for="form-stacked-text">Nom du livreur</label>
         <div class="uk-form-controls">
             <input class="uk-input" type="text" placeholder="Nom du libreur" formControlName="name">
         </div>
       </div>
       <div class="uk">
         <label class="uk-form-label" for="form-stacked-text">Numero du livreur</label>
         <div class="uk-form-controls">
             <input class="uk-input" type="text" placeholder="Numéro du libreur" formControlName="numero">
         </div>
       </div>
       <div class="uk">
           <label class="uk-form-label" for="form-stacked-text">Monant rechargé</label>
           <div class="uk-form-controls">
               <input class="uk-input"  type="number" placeholder="Monant dépensé" formControlName="price">
           </div>
       </div>
     </div>
     <div class="uk-margin uk-flex">
       <button class="uk-button uk-text-bold uk-margin-top">
         Sauvegarder
       </button>
     </div>
    </form>
<!-- This is the modal -->
  <!-- <div id="modal-example" uk-modal>
      <div class="uk-modal-dialog uk-modal-body" *ngIf="editState && intemToEdit.id">
        <form (ngSubmit)="updateUnite" novalidate>
          <h2 class="uk-modal-title">Modification</h2>
          <div class="uk-margin uk">
            <label class="uk-form-label" for="form-stacked-text">Nom du livreur</label>
            <div class="uk-form-controls">
                <input class="uk-input" [(ngModel)]="unites.name" type="text" placeholder="Nom du libreur" formControlName="name">
            </div>
          </div>
          <div class="uk-margin uk">
            <label class="uk-form-label" for="form-stacked-text">Numero du livreur</label>
            <div class="uk-form-controls">
                <input class="uk-input" [(ngModel)]="unites.numero" type="text" placeholder="Numéro du libreur" formControlName="numero">
            </div>
          </div>
          <div class="uk-margin uk">
              <label class="uk-form-label" for="form-stacked-text">Monant rechargé</label>
              <div class="uk-form-controls">
                  <input class="uk-input" [(ngModel)]="unites.price" type="number" placeholder="Monant dépensé" formControlName="price">
              </div>
          </div>
          <p class="uk-text-right">
            <button class="uk-button background" type="button">Valider</button>
          </p>
        </form>
      </div>
  </div> -->
 </div>
  <div class="uk-card nbre  uk-card-default uk-card-body uk-margin-top">
    <div *ngIf=" unites">
      <!-- <p class="uk-flex uk-flex-center">
        <span class="phrase">Nombre du personnel weni rechargé: </span>
        <span class="Nombre"> {{ unites.length }}</span>
      </p> -->
      <p class="uk-flex uk-flex-center">
        <span class="phrase">Montant dépensé: </span>
        <span class="Nombre"> {{ (unites.length  * 2000) - 6000 | currency: 'XOF' }}</span>
      </p>
   </div>
  </div>
  <table class="uk-table uk-table-divider">
    <thead>
        <tr>
            <th>#</th>
            <th>Nom du livreur</th>
            <th>Numéro du livreur</th>
            <th>Montant Rechargé</th>
            <th>Date de rechargement</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let unite of unites; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ unite.name }}</td>
            <td>{{ unite.numero }}</td>
            <td>{{ (unite.price) | currency: 'XOF' }}</td>
            <td>{{ unite.createdAt }}</td>
            <td>
              <span class="btn uk-button-success"  uk-icon="pencil" uk-toggle="target: #modal-example" (click)="editUnite($event, unite)"></span>
              <span class="btn uk-button-danger" uk-icon="trash" (click)="removeUnite(unite)"></span>
            </td>
        </tr>
    </tbody>
  </table>
</div>