table {
    margin-top: 4rem;
}

.uk {
    margin-left: 4rem;
}

.uk input {
    border: 1px solid #ccc;
}

form button {
    border-radius: 0.5rem;
    background: #112442;
    color: #fff;
}

td a {
    margin-left: 2rem;
}

td span .btn {
    cursor: pointer;
}

.uk-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.phrase {
    font-size: 1.5rem;
}

.Nombre {
    margin-left: 1rem;
    font-size: 2rem;
    color: rgb(16, 184, 226);
}

.background {
    color: #fff;
    background-color: #112442;
    font-weight: bold;
    border-radius: 0.5rem;
}

.background:active {
    background:#ccc;
}