
<div class="header">
  <div class="nav-flex uk-container navbar">
    <a href="products">  <img src="assets/img/logo-weni.png" class="nav-left" alt=""> </a>
    <div class="uk-search">
      <form class="uk-flex">
        <input class="uk-input uk-width-1-1" type="text" placeholder="Rechercher...">
        <button class="uk-button uk-button-secondary">Rechercher</button>
      </form>
    </div>
    <div class="menu-flex">
        <div class="uk-inline">
          <button class="" type="button">
            Bonjour, Stéphane
            <span class="uk-margin-small-right" uk-icon="triangle-down"></span>
          </button>
          <div class="menu-deroulant" uk-dropdown>
            <ul class="uk-nav uk-dropdown-nav">
              <li>
                <a href="#">
                <span class="uk-margin-small-right" uk-icon="user"></span>
                Mon profil
              </a></li>
              <li>
                <a href="#">
                <span class="uk-margin-small-right" uk-icon="bag"></span>
                Mes commandes
                </a></li>
              <li>
                <a href="#">
                <span class="uk-margin-small-right" uk-icon="mail"></span>
                Boîte de reception
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="uk-margin-small-right" uk-icon="heart"></span>
                  Liste des favoris
                </a>
              </li>
              <li class="uk-nav-divider"></li>
              <li class="signout">
                <button type="button" class="uk-button">Déconnexion</button>
              </li>
            </ul>
          </div>
        </div>
        <span>
            <a href="#">
              <span class="uk-margin-small-right" uk-icon="cart"></span>
              Panier
            </a>
        </span>
    </div>
  </div>
</div>
