<div class="uk-container">
  <div class="uk-mar">
      Les utilisateurs
  </div>
  <hr class="uk-divider-icon">
  <table class="uk-table uk-table-small uk-table-divider">
      <thead>
          <tr>
              <th>Nom</th>
              <th>Eamil</th>
              <th>Rôle</th>
              <th>Date de création</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody *ngFor="let user of users">
          <tr>
              <td>{{ user.nom }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
              <td>{{ user.createdAd.toDate() | date:'dd/MM/yyyy h:mm:ss' }}</td>
              <td>
                <a class="btn-pencil" (click)="editUser($event, user)" uk-icon="pencil"></a>
                <!-- <a class="btn-trash" (click)="updateUser(user)" uk-icon="trash"></a> -->
              </td>
          </tr>
          <div class="" *ngIf="editSate && userToEdit.id == user.id">
            <form (ngSubmit)="updateUser(user)">
                <div class="uk-margin form-group">
                    <div class="uk-form-controls">
                        <input class="uk-input"  type="text" placeholder="Prix normal" [(ngModel)]="user.nom" name="nom">
                    </div>
                    <div class="uk-form-controls">
                        <select class="uk-select" [(ngModel)]="user.role" name="role">
                            <option value="admin">Amdin</option>
                            <option value="client">Client</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="uk-button btn-save uk-text-bold uk-margin-top">Sauvegarder</button>
            </form>
          </div>
      </tbody>
  </table>
</div>