.uk-container {
    height: 70vh;
}

.uk-mar {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Helvetica Neue";
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
td .btn-pencil {
    border: 1px solid rgb(35, 178, 64);
    border-radius: 8px;
    padding: 0.2em 0.2em;
    margin: 0.2em 0.2em;
    color: rgb(35, 178, 64);
}
td .btn-trash {
    border: 1px solid rgb(181, 20, 20);
    border-radius: 8px;
    padding: 0.2em 0.2em;
    margin: 0.2em 0.2em;
    color: rgb(181, 20, 20);
}

.btn-save{
    background: #15253e;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.uk-form-controls {
    border:1px solid#15253e;
    border-radius: 5px;
}