.uk-container {
    margin-top: 1.5rem;
  }

  .uk-text-center {
    height: 30vh;
  }
  
  .uk-container.uk-container.container-box-0 .msg-nbre
  {
    font-size: larger;
    color: #000;
  }
  
  .container-panier {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .group-prix {
    display: flex;
    align-items: center;
  }
  
  .group-prix .quantity {
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .group-prix .quantity span {
    font-size: 1.1rem;
    color: #112442
  }

  .group-prix .quantity svg {
    cursor: pointer;
  }

  .group-prix .quantity span, svg {
    margin-left: 1rem;
  }

  .group-prix .quantity svg {
    width: 20px;
  }
  
  .group-prix .unity-prix {
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .box-2 img {
    width: 80px;
    padding: 0.5rem;
  }
  
  .articles {
    display: flex;
    align-items: center;
  }
  
  .desc-product {
    display: flex;
    flex-direction: column;
  }
  
  .desc-product > * + * {
    margin-bottom: 0.4rem;
  }
  
  .shop {
    margin-top: 0.3rem;
  }
  
  .desc {
    margin-top: 0.2rem;
  }
  
  .desc a:hover {
    text-decoration: underline;
    color: #01BCBD;
  }
  
  .desc a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
  }
  
  
  .delete{
    font-size: 0.8rem;
  }
  
  .delete a {
    text-decoration: none;
    color: #01BCBD;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .delete a > * + * {
    margin-left: 0.2rem;
  }
  
  .container-panier .box-2 {
    padding: 2rem;
  }
  
  .quantity {
    padding: 1rem;
  }
  
  
  
  .unity-prix {
    padding: 1rem;
  }
  
  .unity-prix > * + * {
    margin-left: 0.5rem;
  }
  
  .unity-prix span {
    font-size: 0.9rem;
    color: #000000;
    font-weight: 500;
  }
  
  
  .box-2 .unity-prix {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  
  .sous-total {
    padding: 1rem;
  }
  
  .sous-total > * + * {
    margin-left: 0.5rem;
  }
  
  .sous-total span {
    color: #01BCBD;
    font-size: 0.9rem;
    font-weight: 500;
  }
  
  
  .box-2 .shop {
    font-size: 12px;
    color: #ccc;
  }
  
  .total-row {
    margin-top: 2rem !important;
    float: right;
    display: flex;
    align-items: center;
  }
  
  .total-row > * + * {
    margin-left: 2rem;
  }
  
  .total-row .total-prix {
    margin-right: 0.8rem;
  }
  
  
  .total-row .total-prix {
    font-size: 1.2rem;
    font-weight: 500;
    color: #01BCBD;
  }
  
  .total-row .total-prix > * + *{
    margin-left: 0.5rem;
  }
  
  
  .total-row label {
    font-weight: 600;
    color:#000000;
  }
  
  
  .valid-buy {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }
  
  .valid-buy .home a{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.8rem;
    padding: 0.8rem;
    font-size: 1rem;
    width: 200px;
    color: #01BCBD;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  
  .valid-buy .buy-ok a{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0.8rem;
    font-size: 1rem;
    width: 200px;
    color: #fff;
    background: #01BCBD;
    letter-spacing: -1px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .uk-container .uk-margin-remove {
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .uk-margin-remove p {
    color: #ffffff;
    background: #112442;
    width: 300px;
    padding: 0.5rem;
    text-align: center;
  }
  
  
  .uk-slider-container-offset .uk-card {
    border-radius: 17px;
  }
  
  .box-3 {
    margin-top: 1.8rem;
  }
  
  .uk-section .uk-container {
    margin-top: 0;
  }
  
  
  .resp {
    display: none;
  }
  
  @media(max-width: 1244px){
    .uk-select {
      width: 50px;
    }
  
    .uk-container {
      padding-right: 30px;
    }
  }
  
   @media(max-width: 476px) {
  
    .cards
    {
      margin-left: 40px;
      margin-right: 40px;
    }
  
  }
  
  @media(max-width: 350px) {
  
    .cards
    {
      margin-left: 25px;
      margin-right: 25px;
    }
  
  }
  
  @media(max-width: 702px) {
    .box-1 {
      display: none;
    }
  
    .uk-container.container-box-1 {
      padding: 10px;
    }
  
    .box-2{
      transition: .5s;
      display: flex;
      flex-direction: column;
    }
  
    .diviser-icon {
      height: 1px;
      width: 100%;
      background: rgba(51, 51, 51, 0.295);
    }
  
    .resp {
      display: flex;
    }
  
    .quantity {
      margin-top: 0.1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .quantity .resp {
      margin-bottom: 0.3rem;
    }
  
    .sous-total {
      padding-left: 0.5rem;
    }
  
    .group-prix span {
      font-size: 12px;
    }
  
    .group-prix .unity-prix {
      margin: 0;
    }
  
    .total-prix span
    {
      font-size: 16px;
    }
  
    .valid-buy .buy-ok a,
    .valid-buy .home a{
      padding: 0.5rem;
      font-size: 0.7rem;
      letter-spacing: normal;
    }
  
    .uk-margin-remove
    {
      font-size: small;
      padding: 0.3rem;
    }
  
  }
  
  
  @media(max-width: 500px)
  {
    .uk-container.uk-container.container-box-0 .msg-nbre
    {
    font-size: 0.9rem;
    }
  }
  
  .uk-section {
    margin-top: 2rem;
    background: #112442;
  }
  
  .uk-section.uk-container .uk-img {
    background: white;
    margin: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    width: 120px;
    border-radius: 10px;
    margin-left: 40px;
  }
  
  .uk-grid-match {
    align-items: center;
    margin-top: 2rem;
  }
  
  
  
  .uk-container.container-box-2
  {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  
  .articles img {
    cursor: pointer;
  }
  