.uk-flex-box
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.uk-button
{
  color: #fff;
  background-color: #28374e;
  border-radius: 5px;
}

.uk-button:active
{
  opacity: 0.5;
}

.uk-form-controls .uk-input, textarea
{
  border-radius: 3px;
  border: 1px solid #01bcbd;
}

.notification
{
  background-color: #01bcbd;
}


.uk-form-controls.input-img {
  display: none;
}

.uk-form-controls.icons img{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.imgSelected img {
  width: 200px;
  height: 140px;
}

.uk-container {
  margin-top: 5rem
}